  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-section">
          <img src="klixx.png" class="footer-logo">
          <p>{{ 'contact.footer.desc' | transloco }}</p>
          <div class="social-links">
            <a href="#" class="social-link">LinkedIn</a>
            <a href="#" class="social-link">Twitter</a>
            <a href="#" class="social-link">Facebook</a>
          </div>
        </div>

        <div class="footer-section">
          <h4>{{ 'contact.footer.quickLinks' | transloco }}</h4>
          <a routerLink="/">{{ 'contact.header.home' | transloco }}</a>
          <a routerLink="/services">{{ 'contact.header.services' | transloco }}</a>
          <a routerLink="/solutions">{{ 'contact.header.solutions' | transloco }}</a>
          <a href="/contact">{{ 'contact.header.contact' | transloco }}</a>
          <a href="/about">{{ 'services.header.about' | transloco }}</a>
          
        </div>

        <div class="footer-section">
          <h4>{{ 'contact.footer.contact' | transloco }}</h4>
          <p>{{ 'contact.footer.email' | transloco }}: info@klixa.com</p>
          <p>{{ 'contact.footer.phone' | transloco }}: +20 102 997 0031</p>
          <p>{{ 'contact.footer.address' | transloco }}</p>
        </div>
      </div>

      <div class="footer-bottom">
        <p>&copy; 2025 Klixa. {{ 'contact.footer.rights' | transloco }}</p>
      </div>
    </div>
  </footer>